// Variable overrides

$theme-colors: (
  "primary": #207fff,
  "secondary": #89f408,
  "success": #28a745,
  "danger": #f9253a,
  "info": #00d4fc,
  "dark": #1a2f4b,
  "light": #f8fafc,
  "white": #ffffff,
  "body-bg": #f8fafc,
  "muted":  #c6d2e3
);

$body-bg: #f8fafc;
$black: #1a2f4b;
