$fa-font-path: "./fonts";
$sidebar-width: 250px;
$enable-gradients: true;
@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@100;400;700&display=swap');
@import "colors.scss";
@import "@coreui/coreui/scss/coreui.scss";
@import "@coreui/coreui/scss/_dropdown-menu-right.scss";
@import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import 'react-redux-toastr/src/styles/index.scss';
@import "font-awesome/scss/font-awesome.scss";
// @import 'react-dates/lib/css/_datepicker';
@import "rsuite/dist/rsuite.css";
@import "datepicker.scss";
@import 'react-querybuilder/dist/query-builder.css';
@import 'react-awesome-query-builder/lib/css/styles.css';
@import 'react-awesome-query-builder/lib/css/compact_styles.css';
@import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import 'react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';
@import 'query-builder';
@import "ie-fix";
@import "react-csv-importer/dist/index.css";
@import "profile";
@import "cron";
@import "csv-importer";
@import "step-wizard";
@import "message";
@import "custom";
@import "dashbord";